@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: p;font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e8d6d1;
    font-family: "Poppins", sans-serif;
}

.container{
    display: flex;
    width: 800px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

/* FORMULÁRIO */
.form-container{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 80%;
    text-align: center;
}
.input-box {
    position: relative;
    margin: 20px 0;
}
/* INPUTS */
.input-box input{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #ccc;
}
.input-box label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    padding: 0 5px;
    
    transition: 0.3s ease;
    pointer-events: none;
}

/* Quando clicar ou tiver texto */
.input-box input:focus + label,
.input-box input:valid + label {
    top: -8px;
    font-size: 20px;
    color: #333;
}

/* BOTÃO */
.botao{
    margin-top: 15px;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
     background: linear-gradient(45deg,black,#e8d6d1);
    color: #fff;
    cursor: pointer;
}

/* TEXTO LOGIN */
.pagina-login{
    margin-top: 15px;
}

.pagina-login a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}

/* LADO DIREITO */
.overlay-container{
    width: 50%;
    background: linear-gradient(45deg,black,#e8d6d1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-panel{
    color: #fff;
    text-align: center;
    padding: 20px;
}
